
.App {
  padding-top: 10px;
  padding-bottom: 10px;
}

.level{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}
  
.main {
  grid-template-columns: repeat(4, 1fr);
  border-radius: 5px 5px 5px 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: none;
}

a {
  color: var(--primary);
  text-decoration: underline solid 1px;
}