.signup-form{ 
  height: 400px;
  box-sizing: content-box;
  border: black 3px solid;
  border-radius: 10px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  background: var(--light-primary);
  display: block;
}

.signup-body{
padding-top: 50px;
}

.signup-title{
  padding-bottom: 8px;
  color: black;
  font-weight: 700;
}

h4{
  font-size: xx-large;
  font-weight: 500;
}


.form-group{
  font-size: larger;
  color: black;
  font-weight: 300;
}

.form-group{
  font-weight: 400;
}

.form-input{
  background: whitesmoke;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: black 2px solid;
}

.form-input:hover{
  background: white;
}

.form-label{
  font-weight: 500;
}


.signup-btn{
  font-weight: 400;
  text-shadow: black .5px .5px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 12px;
  background: transparent;
  border: 2px black solid;
  border-radius: 10px;
}

.signup-btn:hover {
  font-weight: 600;
  color: white;
  margin-top: 12px;
  background: var(--primary);
  border-radius: 10px;
  cursor:pointer;
}
