  /* Searchbar */
 .search-box{
  background-color: whitesmoke;
  border: lightcoral solid 1px;
  border-radius: 10px;
}
  .search-box:hover{
    background-color: lightgrey;
    border: black 1px solid;
  }
  .search-box::placeholder{
    color: lightcoral;
  }

  .zip-box{
    background-color: whitesmoke;
    border: lightcoral solid 1px;
    border-radius: 10px;
  }
    .zip-box:hover{
      background-color: lightgrey;
      border: black 1px solid;
    }
    .zip-box::placeholder{
      color: lightcoral;
    }

  /* Search btn */
.button{
  margin-left: 5px;
  color: black;
  font-weight: 620;
  background-color: lightcoral;
  border: black solid 2px;
  border-radius: 10px;
}
  .button:hover{
    color: lightcoral;
    border: lightcoral solid 2px;
    background-color: black;
  }
  .button:active{
    color: white;
    background-color: lightcoral;
    border:white 2px solid;
  }
  .button:visited{
    color: teal;
  }

.filtertxt{
  text-shadow: black .5px .5px;
}

.dogsearch{
  font-weight: 600;
  height: 25px;
  width: 50px;
  color: black;
  background-color: lightcoral;
  border: black 2px solid;
  border-radius: 5px;
}
  .dogsearch:hover{
    color: lightcoral;
    background-color: black;
    border: white 2px solid;
    
  }

.catsearch{
  font-weight: 600;
  height: 25px;
  width: 50px;
  color: black;
  background-color: lightcoral;
  border: black 2px solid;
  border-radius: 5px;
}
  .catsearch:hover{
    color: lightcoral;
    background-color: black;
    border: white 2px solid;
    
  }
  
