.footer{
  color: black;
  background: transparent;
  font-size: larger;
  font-weight: 500;
  width: 100%;
  max-height: 2.5rem; 
}

.content{
  text-align: center;
}

strong{
  color: #D9DBF1;
}

a {
  color: darkgray;
  text-decoration: underline solid 1px;
}

a:hover {
  font-weight: 600;
  color: #D9DBF1;
  text-decoration: underline solid 1px #D9DBF1;
}

.footerMain{
  opacity: 90%;
}