@import "~@creativebulma/bulma-divider";

.petcard{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.petimage{
    width: 310px;
    overflow: hidden;
    height: 300px;
}

.card-image{
  min-height: 300px;
}

.infobutton{
  color: black;
  font-weight: 620;
  background-color: #CBC5EA;
  border: black solid 2px;
  border-radius: 10px;
}
  .infobutton:hover{
    color: #CBC5EA;
    border: #CBC5EA solid 2px;
    background-color: black;
  }
  
  .infobutton:active{
    color: white;
    background-color: #CBC5EA;
    border:black 2px solid;
  }

.modal-card-title {
  font-weight: bolder;
  font-size:xx-large
}