@import "~@creativebulma/bulma-divider";

.petcard{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.petimage{
    width: 310px;
    overflow: hidden;
    height: 300px;
    cursor: pointer;
}

.modal-card {
  width: 80%;
}

.modal

.card-image{
  min-height: 300px;
}

.infobutton{
  color: white;
  font-weight: 620;
  background-color: var(--primary);
  border-radius: 25px;
  border: none;
}
  .infobutton:hover{
    background-color: var(--dark-primary);
  }
  
  .infobutton:active{
    border:black 2px solid;
  }

.modal-card-title {
  font-weight: bolder;
  color: white;
  font-size:xx-large;
}

.modal-card-head {
  background-color: var(--primary);
}

.buttonContainer {
  position: absolute;
  bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.title {
  cursor: pointer;
}