html{
    background-image: url(/src/images/Background_Image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .App-header{
    background-color: transparent;
    margin-top: 20px;
  }
  

  .level{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .footer{
    background: transparent;
    font-size: larger;
    font-weight: 500;
  }
  
