.animaltips{ 
    background-image: url(../../images/animaltips.png);
    height: 645px;
    width: 520px;
    box-sizing: content-box;
    border: black 3px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 18rem;
    margin-left: 50px;
    margin-right: 50px;
    transition-duration: 1.2s;
  }