.navbar{
    width: auto;
    background-color: lightcoral;
    border: black 1px solid;
    border-radius: 5px 5px 5px 5px;
  }
  
  .navbar-brand{
              /* Navbar Logo */
    background-image: url(/src/images/Animal_Database_Logo.jpeg);
    background-size: 235px;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 150px;
    padding-right: 50px;
  }
