  /* animal searchbar */
 .search-box{
  border: black solid 1px;
  border-radius: 10px;
}
.search-box:hover{
  background-color: rgb(251, 251, 251);
  border: var(--primary) 1px solid;
}
.search-box::placeholder{
  font-weight: 700;
  color: var(--primary);
}
.search-box:hover::placeholder{
  text-shadow: none;
}
.search-box:focus::placeholder{
  color: transparent;
  text-shadow: none;
}

  /* zip searchbar */
.zip-box{
  border: black solid 1px;
}
.zip-box:hover{
  background-color: rgb(253, 253, 253);
  border: var(--primary) 1px solid;
}
.zip-box::placeholder{
  font-weight: 700;
  color: var(--primary);
}
.zip-box:hover::placeholder{
  text-shadow: none;
}
.zip-box:focus::placeholder{
  color: transparent;
  text-shadow: none;
}

  /* search btn */
.button{
  color: white;
  font-weight: 620;
  background-color: var(--primary);
  border: 1px solid black;
  border-radius: 10px;
}
.button:hover{
  color: white;
  background-color: var(--dark-primary);
}
.button:active{
  color: white;
  background-color: var(--dark-primary);
}

.filtertxt{
  text-shadow: black .5px .5px;
}

.switchSelector {
  width: 130px;
  height: 40px;
  margin-right: 30px;
  border: 2px solid #5aa7a7;
  border-radius: 50px;
}